h1{
    width:100%;
    color:lightblue;
    background-color: darkblue;
}
body{
    background-color:cyan;
}
p{
    border:5px solid magenta;
    padding:50px;
    background-color:rgba(0,0,0,0.5);
    margin-left:50px;
}
